/* @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap'); */

.logo {
    width: 80%;
}

.icon {
    width: 80%;
}

.menu {
    font-size: 20px;

}

.image{
    width: 80%;
    margin: auto auto;
}
