/* @font-face {
    font-family: 'Montserrat';
    src: url('assets/fonts/montserrat-regular-webfont.eot');
    src: url('assets/fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
        url('assets/fonts/montserrat-regular-webfont.woff') format('woff'),
        url('assets/fonts/montserrat-regular-webfont.ttf') format('truetype'),
        url('assets/fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
} */

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .icon:hover{
      fill-opacity:0;
  }

.logo {
    width: 80%;
}

#icon_search {
    width: 50px;
}
#icon_account {
    width: 40px;
    margin-left : 20px;
    margin-right : 20px;
    margin-bottom : 2px;
}
#icon_cart {
    width: 35px;
    margin-bottom : 2px;
}

.menu {
    font-size: 20px;
}

.image{
    width: 80%;
    margin: auto auto;
}
#img-logo{
    margin-left : 25px;
}
.text-muted{
    color:black !important;
}
.card{
    border : none;
}
.card-group{
    padding-top : 50px;
}
.card-img-top{
    height:350px;
}
.btn-danger{
    background-color: #953640 !important;
    border-color: #953640 !important;
    color: aliceblue !important;
}

.page-footer {
    background-color: #2B2B2B;
    color: #CCBE9F;
    font-family: 'Roboto',sans-serif;
}

.h5 {
    font-family: 'Montserrat', sans-serif;
}

a{
    color: #CCBE9F !important;
}

.cls-1 {
    fill: #CCBE9F;
}
