@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:100);
body {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

.p {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

a {
    font-family: 'Montserrat', sans-serif;
}

label {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.icon:hover {
    fill-opacity: 0;
}

.logo {
    width: 80%;
}

#icon_search {
    width: 50px;
}

#icon_account {
    width: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 2px;
}

#icon_cart {
    width: 35px;
    margin-bottom: 2px;
}

.menu {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.image {
    width: 80%;
    margin: auto auto;
}

.producer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


/* Histoire */

.test {
    background-color: #a62b35;
    color: white;
}

.btn-history {
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: white;
    color: #a62b35;
    border: none;
}

p.box {
    margin: 50px;
}

.counter {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 50px;
}


/* Footer */

#img-logo {
    margin-left: 25px;
}

.text-muted {
    color: black !important;
}

.card {
    border: none;
}

.card-group {
    padding-top: 50px;
}

.card-img-top {
    height: 350px;
}

.btn-danger {
    background-color: #953640 !important;
    border-color: #953640 !important;
    color: aliceblue !important;
}

.page-footer {
    background-color: #2B2B2B;
    color: #CCBE9F;
    font-family: 'Roboto', sans-serif;
}

a.afooter {
    color: #CCBE9F !important;
}

.cls-1 {
    fill: #CCBE9F;
}

.image-footer {
    width: 20%;
}

.footer-size {
    font-size: 10px;
}

.footer-col {
    margin-left: 5px;
}

.adresse-size {
    font-size: 11px;
    line-height: 11px;
}


/* Product page */

.roadMap {
    white-space: nowrap;
}

.arrow {
    width: 2.5%;
}

.bottleImg {
    width: 90%;
    height: auto;
    margin: auto;
}

.price-font {
    font-family: 'Montserrat', sans-serif;
}

.price-ht-font {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

.article-font {
    font-size: 12px;
    color: #6c757d;
    font-family: 'Montserrat', sans-serif;
}

#btn-quantity {
    padding-right: 325px;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #2B2B2B;
    background-color: #CCBE9F;
}

.pills {
    color: #f2ebda;
}

.btn-basket {
    padding: 1em 5em 1em 5em;
    font-family: 'Montserrat', sans-serif;
    border: 5px solid #2B2B2B;
    background-color: #2B2B2B;
    color: white;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn-basket:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #a62b35;
    border: 5px solid #a62b35;
    color: white;
}


/* CONTACT */

.contact-form {
    background: #2B2B2B;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}

.contact-form .form-control {
    border-radius: 25;
}

.contact-image {
    text-align: center;
}

.contact-image img {
    border-radius: 25;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}

.contact-form form {
    padding: 14%;
}

.contact-form form .row {
    margin-bottom: -7%;
}

.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: white;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 25px;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.btnContactSubmit {
    width: 50%;
    padding: 1.5%;
    color: #fff;
    border: none;
    cursor: pointer;
}

.icon_display img {
    width: 50px;
}

#tri-produit {
    margin-top: 50px;
}

.number_results {
    padding-top: 15px;
}

#weekproduct {
    width: 10rem;
}

.card-img-top {
    width: 10rem;
}

.btn-filter {
    border-color: grey;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 25px;
}

.price-ht-font {
    font-size: 10px;
}

.article-font {
    font-size: 12px;
}

#cart-produit-img {
    width: 68px;
    height: 150px;
}

.btn-panier-2 {
    border-color: grey;
    border-style: solid;
    border-width: 1px;
}

.action-btn {
    margin-bottom: 25px;
}